.Banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  
  padding: 0;
  
}

.banner_image {
  width: 85%;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_image img {
  height: 430px;
}

.banner_text{
    position: absolute;
    width: 45%;
    font-size: 35px;
    color: white;
    line-height: 44px;
    font-weight: 100;
    right: 119px;
    top: 146px;
}
.banner_slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.banner_slider img{
    width: 55px;
}
